<div class="title"><h1>canATM</h1></div>

<div class="screen">
	<div class="screen-content">
		<div class="screen-glass">
{{#isReadingCard}}
	<h2>Reading Card</h2>
	<p>Welcome to canATM where there are <strong>never</strong>
	  fees!</p>
	</p>
	<p>
		Enter Card Number: 
		<input name="card" can-blur="addCardNumber" can-enter="addCardNumber"/>
	</p>
{{/isReadingCard}}

{{#isReadingPin}}
	<h2>Reading Pin</h2>
	<p>
		Enter Pin Number: 
		<input name="pin" 
			type="password"
			{{#isVerifyingPin}}DISABLED{{/isVerifyingPin}}
			 can-blur="addPinNumber" can-enter="addPinNumber"/> 
			 
		{{#isVerifyingPin}}
		  	<div class='warn'>
				<p>
				<img src="http://bithub.com/assets/images/ajax-loader-sm-blue.gif"/> 
				verifying 
				</p>
  			</div>
		{{/isVerifyingPin}}
	</p>
	<a href="javascript://" can-click="exit">exit</a>
{{/isReadingPin}}

{{#isChoosingTransaction}}
	<h2>Choose Transaction</h2>
	<p>What would you like to do?</p>
	<nav>
		<ul>
			<li can-click="chooseDeposit">Deposit</li>
			<li can-click="chooseWithdraw">Withdraw</li>
			<li can-click="printReceiptAndExit">Exit</li>
		</ul>
	</nav>
{{/isChoosingTransaction}}

{{#isPickingAccount}}
	<h2>Pick Account</h2>
	<p>Please pick your account:</p>
	<ul>
		{{#each accounts}}
			<li can-click="chooseAccount">{{name}} - ${{balance}}</li>
		{{/each}}
	</ul>
{{/isPickingAccount}}

{{#isDepositInfo}}
	<h2>Deposit</h2>
	<p>
		How much would you like to deposit 
		into {{currentTransaction.account.name}} (${{currentTransaction.account.balance}})?
		
		<input name="deposit" can-value="currentTransaction.amount"/>
	</p>
	
	{{#if isTransactionExecuting}}
		<div class='warn'>
				<p>
				<img src="http://bithub.com/assets/images/ajax-loader-sm-blue.gif"/> 
				executing 
				</p>
  			</div>
	{{else}}
		<button can-click="currentTransaction.execute"
			{{^isTransactionReady}}DISABLED{{/isTransactionReady}}>Deposit</button>
		<a href="javascript://" can-click="removeTransaction">cancel</a>
	{{/if}}
	
	
{{/isDepositInfo}}

{{#isWithdrawalInfo}}
	<h2>Withdraw</h2>
	<p>
		How much would you like to withdraw  
		from {{currentTransaction.account.name}} (${{currentTransaction.account.balance}})?
		<input name="withdrawl" can-value="currentTransaction.amount"/>
	</p>
	{{#if isTransactionExecuting}}
		<div class='warn'>
				<p>
				<img src="http://bithub.com/assets/images/ajax-loader-sm-blue.gif"/> 
				executing 
				</p>
  			</div>
	{{else}}
		<button can-click="currentTransaction.execute"
					{{^isTransactionReady}}DISABLED{{/isTransactionReady}}>Withdrawl</button>
		<a href="javascript://" can-click="removeTransaction">cancel</a>
	{{/if}}
{{/isWithdrawalInfo}}

{{#isTransactionSuccessful}}
	<h2>Transaction Successful!</h2>
	<p>{{currentTransaction.account.name}} has ${{currentTransaction.account.balance}}.</p>
	<p>What would you like to do?</p>
	<nav>
		<ul>
			<li can-click="removeTransaction">Another transaction</li>
			<li can-click="printReceiptAndExit">Exit</li>
		</ul>
	</nav>
{{/isTransactionSuccessful}}

{{#isPrintingReceipt}}
	<h2>Printing Receipt</h2>
	<h3>Transactions</h3>
	<ul>
		{{#if transactions.length}}
			{{#each transactions}}
				<li>{{actionName}} ${{amount}} from {{account.name}}</li>
			{{/each}}
		{{else}}
			<li>None</li>
		{{/if}}
	</ul>
	<h3>Accounts</h3>
	<ul>
		{{#each accounts}}
			<li can-click="chooseAccount">{{name}} - ${{balance}}</li>
		{{/each}}
	</ul>
	<div class='warn'>
				<p>
				<img src="http://bithub.com/assets/images/ajax-loader-sm-blue.gif"/> 
				printing 
				</p>
  			</div>
{{/isExiting}}

		</div>
	</div>
</div>